* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* ******************************HEADER*********************** */
.header {
  min-height: 779px;
  min-width: 1120px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font-family: 'Merriweather', serif;
  max-width: 589px;
  height: 136.03px;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  padding-top: 199px;
  color: #ffffff;
}

.header__button {
  position: absolute;
  min-width: 270px;
  height: 69.76px;
  top: 427.71px;
  background: #005fa3;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 320px) and (max-width: 754px) {
  .header__title {
    text-align: center;
  }
  .header {
    min-width: 754px;
  }
  .header__block {
    display: flex;
    justify-content: center;
  }
  .header__button {
    margin-right: 295px;
  }
}
@media screen and (min-width: 754px) and (max-width: 1120px) {
  .header__title {
    text-align: center;
  }

  .header__block {
    display: flex;
    justify-content: center;
  }
  .header__button {
    margin-right: 295px;
  }
}
/* *********************************************************** */ /* ************************SERVICES SECTION****************** */
.services {
  background: #ebebeb;
  margin-bottom: 31px;
}
.services__block {
  padding: 140px 0;
}
.services__subtext {
  width: 445px;
  height: 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
  padding-bottom: 40px;
}
.services__title {
  width: 663px;
  height: 47px;
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
  margin-bottom: 102px;
}
.services__images__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 30px;
}
.services__img {
  width: 350px;
  height: 360px;
}
figure {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.services__figcaption {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  position: absolute;
  color: white;
  width: 187px;
  height: 54px;
  margin: 0 0 45px 45px;
}
@media screen and (min-width: 320px) and (max-width: 754px) {
  .container {
    min-width: 754px;
  }
  .services {
    min-width: 754px;
  }
  .services__subtext {
    margin-bottom: 17px;
  }
  .services__texts__block {
    margin-left: 85px;
    margin-bottom: 180px;
  }
  .services__title {
    width: 445px;
  }
  .services__img {
    width: 592px;
  }
  .services__images__block {
    justify-items: center;
    padding-bottom: 171px;
    grid-template-columns: 1fr;
  }
  .services__block {
    padding-bottom: 0;
    margin-bottom: 145px;
  }
}
@media screen and (min-width: 754px) and (max-width: 1120px) {
  .container {
    min-width: 1120px;
  }
  .services {
    min-width: 1120px;
  }
  .services__subtext {
    margin-bottom: 17px;
  }
  .services__texts__block {
    margin-left: 85px;
    margin-bottom: 180px;
  }
  .services__title {
    width: 445px;
  }
  .services__img {
    width: 475px;
  }
  .services__images__block {
    justify-content: center;
    padding-bottom: 171px;
    grid-template-columns: 470px 470px;
    gap: 25px;
  }
  .services__block {
    padding-bottom: 0;
    margin-bottom: 145px;
  }
}

/* ***************************************************** */ /* ***********************ABOUT SECTION************************* */
.about {
  margin-bottom: 140px;
  min-width: 754px;
}
.about__blocks {
  display: flex;
  justify-content: space-between;
}
.about__subtext {
  width: 155px;
  height: 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
  margin-bottom: 40px;
}
.about__title {
  width: 347px;
  height: 117px;
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
  margin-bottom: 60px;
}
.about__title2 {
  color: #005fa3;
}
.about__text {
  width: 445px;
  height: 245px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17.5px;
  line-height: 25px;
  color: #000000;
}

.about__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.about__item {
  width: 255px;
  height: 255px;
  background: #ebebeb;
  padding: 30px 0 0 40px;
}
.about__item_title {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  width: 75px;
  height: 54px;
  margin-bottom: 30px;
}
.about__item_text {
  width: 107px;
  height: 37px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 47px;
}
.about__item_link {
  width: 67px;
  height: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #005fa3;
}
.about__item-active {
  background: #005fa3;
}
.about__item_title-active,
.about__item_text-active,
.about__item_link-active {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 754px) {
  .about__texts {
    margin-left: 85px;
  }
  .about__blocks {
    display: block;
    margin-bottom: 145px;
  }
  .about__item {
    width: 562px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about__text {
    width: 562px;
    font-size: 18.5px;
    margin-bottom: 40px;
  }
  .about__items {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }
  .about__item {
    padding: 0;
  }
  .about__item_title,
  .about__item_text {
    margin-bottom: 0;
  }
  .about__item_title {
    line-height: 51px;
  }
  .about__item_link {
    font-size: 13px;
    line-height: 23px;
  }
}
@media screen and (min-width: 754px) and (max-width: 1120px) {
  .about__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__blocks {
    display: block;
    margin-bottom: 145px;
  }
  .about__item {
    width: 775px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about__text {
    width: 680px;
    font-size: 18.5px;
    margin-bottom: 40px;
  }
  .about__items {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }
  .about__item {
    padding: 0;
  }
  .about__item_title,
  .about__item_text {
    margin-bottom: 0;
  }
  .about__item_title {
    line-height: 51px;
  }
  .about__item_link {
    font-size: 13px;
    line-height: 23px;
  }
}

/* ******************************************************************** */

/* ****************************CONTACT SECTION******************* */

.contact {
  min-height: 623px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(../img/banner.png), #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.contact__blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 122px;
}
.contact__support_title {
  width: 445px;
  height: 47px;
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #ffffff;
  margin-bottom: 60px;
}
.contact__support_text {
  width: 445px;
  height: 43px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17.5px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 80px;
}
.contact__support_contacts {
  display: flex;
}
.contact__support_number {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
  margin-left: 35px;
}
.contact__support_block {
  display: flex;
}
.contact__support_icon {
  font-size: 37px;
  margin-left: 40px;
}
.contact__support_email {
  margin-left: 15px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 19.5px;
  line-height: 29px;
  color: #ffffff;
}

.info__block_names {
  display: flex;
}

.info__firstname_title,
.info__lastname_title {
  width: 125px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}
.info__firstname_input,
.info__lastname_input {
  width: 125px;
  height: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #bdbdbd;
  margin-bottom: 15px;
}
.info__firstname_line,
.info__lastname_line {
  width: 255px;
  border-bottom: 1px solid white;
  margin-bottom: 35px;
}
.info__names_lastname {
  margin-left: 30px;
}

.info__message_title {
  width: 125px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}
.info__messsage_input {
  width: 255px;
  height: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #bdbdbd;
  margin-bottom: 84px;
}
.info__message_line {
  width: 540px;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}
.info__block_button {
  display: flex;
  justify-content: end;
}
.info__button {
  width: 270px;
  height: 60px;
  background: #005fa3;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 754px) {
  .contact {
    min-width: 754px;
    margin-bottom: 0;
  }
  .contact__blocks {
    flex-direction: column;
  }
  .contact__block {
    padding: 29px 0 0 80px;
  }
  .contact__support_title {
    margin-bottom: 44px;
  }
  .contact__support_text {
    width: 598px;
    margin-bottom: 33px;
  }
  .contact__support_contacts {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
  }
  .contact__support_block {
    margin-right: 100px;
    align-items: center;
  }
  .contact__support_icon {
    font-size: 44px;
  }
  .contact__support_email {
    margin-left: 5px;
    line-height: 23px;
  }
  .info__block {
    padding: 0 0 135px 67px;
  }
  .info__firstname_line,
  .info__lastname_line {
    width: 288px;
  }
  .info__message_line {
    width: 610px;
  }
  .info__block_button {
    margin-right: 115px;
  }
}
@media screen and (min-width: 754px) and (max-width: 1120px) {
  .contact {
    min-width: 1120px;
    margin-bottom: 0;
  }
  .contact__blocks {
    flex-direction: column;
  }
  .contact__block {
    padding: 29px 0 0 80px;
  }
  .contact__support_title {
    margin-bottom: 44px;
  }
  .contact__support_text {
    width: 598px;
    margin-bottom: 33px;
  }
  .contact__support_contacts {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
  }
  .contact__support_block {
    margin-right: 100px;
    align-items: center;
  }
  .contact__support_icon {
    font-size: 44px;
  }
  .contact__support_email {
    margin-left: 5px;
    line-height: 23px;
  }
  .info__block {
    padding: 0 0 135px 67px;
  }
  .info__firstname_line,
  .info__lastname_line {
    width: 288px;
  }
  .info__message_line {
    width: 610px;
  }
  .info__block_button {
    margin-right: 115px;
  }
}

/* ******************************************************************** */

/* ***************************FOOTER********************************** */

.footer__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__text {
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}
@media screen and (min-width: 320px) and (max-width: 754px) {
  .footer__block {
    padding: 16px 0 29px 66px;
    margin-bottom: 0;
  }
  .footer__text_2 {
    margin-right: 60px;
  }
}
@media screen and (min-width: 754px) and (max-width: 1120px) {
  .footer__block {
    padding: 16px 0 29px 66px;
    margin-bottom: 0;
  }
  .footer__text_2 {
    margin-right: 60px;
  }
}
